*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.a{
    display: flex;
    text-align: center;
    margin-left: 0px;
    gap: 230px;
    background-color: #0057b8;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

.dropdown{
  position: relative;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  border: 1px solid #ccc;
  min-width: 150px;
  visibility: hidden;
  
}
/* Show menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
  visibility: visible;
}

.dropdown-menu li a {
  padding: 10px;
  white-space: nowrap;
}

.dropdown-menu li a:hover {
  background: #f3f3f3;
  color: black;
}
.b{
    margin-left: 10px;
    margin-top: 15px;
    
}
.b ul{
    display: flex;
    list-style: none;
    gap: 10px;   
}
.b ul a{
    text-decoration: none;
    margin-right: 20px;
    font-size: 1.2rem;
    color:white ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.c{
    margin-top: 20px;
    gap: 10px;
}
.fa-solid{
    font-size: 1.2rem;
    color: white;
}
.fa-circle-user{
    padding-left: 15px;
}
.b ul a:hover{
    text-decoration: underline white;
}
.d{
    color: white;
}
.art{
       background-image: url(d1.jpg);
    height: 90vh;
    background-size: cover;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    color: white;
    margin-top: 35px;
    padding-top: 90px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-weight: 1000; */
     animation: color1 10s ease  reverse backwards;
}
.rat{
    font-size: 3.9rem;
    text-transform: capitalize;
    text-shadow: 2px;
}
.tar{
    gap: 10px;
    padding: 30px;
}
#ape{
    margin-left: 50px;
    margin-right: 400px;
    width: 100px;
    height: 50px;
    font-size: 24px;
    border-radius: 8px;
  border-color: #ccc;
    background: none;
}
.tar button{
   width: 100px;
    height: 50px;
    font-size: 24px;
    border-radius: 9px;
  border-color: #ccc;
    background: none;  
}
.tar button a{
    text-decoration: none;
    color: black;
}
.tar button a:hover{
    color: white;
}
.tar button:hover{
    background-color: royalblue;
}
#ape a{
    text-decoration: none;
    color: black;
}
#ape a:hover{
    color: white;
}
#ape:hover{
    background-color: royalblue;
}
#atr{
    font-size: 1.9rem;
}
.rat::first-letter{
    font-size: 6.9rem;
}
.aut{
    color: royalblue;
    text-align: center;
    margin-top: 7px;
}
div{
    text-align: center;
}
.footer {
  background: #053061;
  color: #eaeaea;
  padding: 40px 20px 10px;
  margin-top: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
  min-width: 250px;
}

.footer-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: bold;
}

.footer-section p {
  line-height: 1.6;
  font-size: 14px;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin: 8px 0;
}

.footer-links a {
  color: #bdbdbd;
  text-decoration: none;
  transition: 0.3s;
}
.footer-links a:hover {
  color: #fff;
}

.social-icons {
  display: inline-block;
  margin-right: 10px;
  font-size: 32px;
  color: #fff;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #00aaff;
}

.footer-bottom {
  text-align: center;
  padding: 15px 0 0;
  margin-top: 30px;
  border-top: 1px solid #333;
}


/* @keyframes color1{
    0%{
        background-image: url(d1.jpg);
    }
    25%{
        background-image: url(d4.jpg);

    }
    35%{
        background-image: url(A\ Skyline\ In\ A\ City\ With\ Large\ Buildings\ Across\ A\ Highway\ Photo\ Wallpaper\ Image\ For\ Free\ Download\ -\ Pngtree.jpg);
    }
} */