body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #ffffff;
}

.login-container {
    width: 450px;
    margin: 80px auto;
      box-shadow:0px 4px 10px rgba(0,88,239,0.2) ;
      border-radius: 10px;
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}

form label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    margin-left: 30px;
}

form input {
    width: 70%;
    padding: 20px;
    margin-bottom: 18px;
    border-radius: 8px;
    border: 1px solid #d6d6d6;
    font-size: 14px;
    outline: none;
    padding-left: 10px;
    margin-left: 30px;
}

form input:focus {
    border-color: #1c4fa0;
}

#login-btn {
    width: 50%;
    padding: 13px;
    background: royalblue;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 90px;
}
#login-btn a{
    text-decoration: none;
    color: white;
}

.login-btn:hover {
    background: #1d4680;
}

.links {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.links p {
    color: #888;
    margin: 8px 0;
    font-size: 14px;
}

.links a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
.fa-arrow-left{
    font-size: 30px;
    color: white;margin-left: 35px;
    margin-top: 25px;
    border: 1px solid royalblue;
    width: 55px;
    height: 40px;
    border-radius: 50%;
    padding-top: 9px;
    background-color: royalblue;
}
.fa-arrow-left:hover{
    background-color: white;
    color: royalblue;
}
