/* Root colors */
:root {
    --blue: royalblue;
    --black: #000;
    --white: #fff;
}

/* General styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    padding: 20px;
    height: 85%;
}

.form-box {
    max-width: 420px;
    margin: auto;
    background: var(--white);
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.25);
}

.form-box h1 {
    text-align: center;
    margin-bottom: 2px;
    color: var(--black);
    margin-top: 3px;
}

.form-box p {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

/* Input group */
.input-group {
    margin-bottom: 18px;
}

.input-group label {
    display: block;
    font-size: 0.9rem;
    color: var(--black);
    margin-bottom: 10px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
}

.input-group input:focus {
    border-color: var(--blue);
}

/* Button */
#btn {
    width: 100%;
    padding: 14px;
    background: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
}
#btn a{
    text-decoration: none;
    color: white;
}

.btn:hover {
    background: #0a2ea8;
}

/* Login text */
.login-text {
    text-align: center;
    margin-top: 20px;
    color: #333;
    padding-bottom: 3px;
}

.login-text a {
    color: var(--blue);
    text-decoration: none;
}

.login-text a:hover {
    text-decoration: underline;
}

/* Responsive */
@media(max-width: 500px) {
    .form-box {
        padding: 25px;
    }
}
.fa-arrow-left{
    font-size: 30px;
    color: white;margin-left: 35px;
    margin-top: 5px;
    border: 1px solid royalblue;
    width: 55px;
    height: 40px;
    border-radius: 50%;
    padding-top: 9px;
    background-color: royalblue;
}
.fa-arrow-left:hover{
    background-color: white;
    color: royalblue;
}

